@model CardSort.Domain.Entities.Card

<div class="card p-3 bg-light text-dark mb-2">



    <h3>
        <strong>@Model.Name</strong>
        <span class="badge bg-primary float-end">
            @Model.Colors
        </span>
    </h3>
    <span class="lead">@Model.CardType</span>
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img src="@Url.Action("GetImage", "Card", new {Model.CardID})" />
        </div>
    }
</div>